
<h1>Association</h1>
<p class="lead">Enregistrement d'une nouvelle freebox &emsp;<span *ngIf="step" class="badge badge-pill badge-info">Etape {{step}}</span></p>



<association-step1 *ngIf="step == 1" [freeboxAssociation]="freeboxAssociation" (onStepValidation)="onStep1Validation( $event)"></association-step1>
<association-step2 *ngIf="step == 2" [freeboxAssociation]="freeboxAssociation" (onStepValidation)="onStep2Validation( $event)" ></association-step2>
<association-step3 *ngIf="step == 3" [freeboxAssociation]="freeboxAssociation" (onStepValidation)="onStep3Validation( $event)" ></association-step3>


<div *ngIf="permissions" class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">Freebox déja associée</h3>
    </div>
    <div class="panel-body">

        <div class="panel-body">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Permission</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let permission of permissions">
                    <td>{{ permission.name }}</td>
                    <td>{{ permission.value }}</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
