
<h1>Mes téléchargements</h1>

<tabset>
  <tab heading='Liste des téléchargements'>
    <br/>
    <download-lists></download-lists>
  </tab>
  <tab heading='Ajouter un téléchargement'>
    <br/>
    <download-add></download-add>
  </tab>
  <tab heading='Scanner un flux RSS'>
    <br/>
    <download-rss></download-rss>
  </tab>
</tabset>
