
<table class="table table-striped table-hover">
    <tbody>
    <tr>
        <th>Nom</th>
        <td>
            {{movieTitle.cleanName}}&emsp;
            <span *ngIf="movieTitle.hasSeason()" class="label label-primary">Saison {{movieTitle.getSeason()}}</span>
            <span *ngIf="movieTitle.hasEpisode()" class="label label-primary">Episode {{movieTitle.getEpisode()}}</span>
        </td>
    </tr>
    <tr>
        <th>Nom Original</th>
        <td>
            <em class="text-muted">{{movieTitle.rawTitle}}</em>
        </td>
    </tr>
    <tr>
        <th>Synopsis</th>
        <td>
            <em class="text-muted">Pas encore implémenté...</em>
        </td>
    </tr>
    <tr *ngIf="movieTitle.image">
        <th>Couverture</th>
        <td>
            <img [src]="movieTitle.image" />
        </td>
    </tr>
    </tbody>
</table>
