<div class="card bg-light mb-3">
  <div class="card-header">Téléchargements</div>
  <div class="card-body">

    <p *ngIf="isBoxLinked()" class="card-text">
      <strong>{{getAllCount()}}</strong> téléchargements<br/>
      <strong>{{getActiveCount()}}</strong> actifs<br/>
      <strong>{{getSeedingCount()}}</strong> en partage<br/>
      <strong>{{getDownloadedCount()}}</strong> terminés<br/>
    </p>

    <p *ngIf=" ! isBoxLinked()" class="card-text text-warning">
      Vous devez lier votre Freebox pour gerer vos téléchargements
    </p>

    <a [routerLink]="['/download']" class="btn btn-primary btn-sm {{ isBoxLinked() ? '' : 'disabled' }}">
      <span class="glyphicon glyphicon-save" aria-hidden="true"></span>&emsp;Mes téléchargements
    </a>
  </div>
</div>
