
<div bsModal #fileInfoDetails="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div *ngIf="fileInfo" class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="fileInfoDetails.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">{{fileInfo.name}}</h4>
            </div>
            <div class="modal-body">

                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#dl-infos" data-toggle="tab">Informations</a>
                    </li>
                    <li *ngIf="fileInfo.isVideo()">
                        <a href="#dl-video" data-toggle="tab">Vidéo</a>
                    </li>
                    <li>
                        <a href="#dl-actions" data-toggle="tab">Actions</a>
                    </li>
                </ul>

                <div id="dl-settings-modal-tab-content" class="tab-content">
                    <div class="tab-pane fade active in" id="dl-infos">
                        <file-info-tab [fileInfo]="fileInfo"></file-info-tab>
                    </div>

                    <div *ngIf="fileInfo.isVideo()" class="tab-pane fade" id="dl-video">
                        <movie-title-tab [movieTitle]="fileInfo.movieTitle"></movie-title-tab>
                    </div>

                    <div class="tab-pane fade" id="dl-actions">
                        <a class="btn btn-default btn-lg btn-block {{fileInfo.canBePlay()      ? '' : 'disabled'}}" (click)="play()">Lire sur ma freebox</a>
                        <a class="btn btn-default btn-lg btn-block {{fileInfo.canBeStreamed()  ? '' : 'disabled'}}" (click)="playInBrowser()">Lire dans le player</a>
                        <a class="btn btn-default btn-lg btn-block" (click)="boxDownload()">Télécharger sur ma freebox</a>
                        <a class="btn btn-default btn-lg btn-block" (click)="directDownload()">Télécharger</a>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="fileInfoDetails.hide()">Fermer</button>
            </div>

        </div>
    </div>
</div>
