<form (ngSubmit)="updateAssoc()" #assoc1From="ngForm">

    <div class="modal-header">
        <h4 class="modal-title">Informations de connexion</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <fieldset>

            <div class="form-group">
                <label for="api_domain">Nom de domaine</label>
                <input [(ngModel)]="assoc.api_domain" id="api_domain" name="api_domain"
                       type="url" class="form-control" aria-describedby="api_domainHelp"
                       required="required">
                <small id="api_domainHelp" class="form-text text-muted">
                    Le nom de domaine est affiché sur cette interface :
                    <a href="http://mafreebox.freebox.fr/#Fbx.os.app.settings.domains.Domains">
                        http://mafreebox.freebox.fr/#Fbx.os.app.settings.domains.Domains
                    </a>
                </small>
            </div>

            <div class="form-group">
                <label for="https_port">Port HTTPS</label>
                <input [(ngModel)]="assoc.https_port" id="https_port" name="https_port"
                       type="number" class="form-control" aria-describedby="https_portHelp"
                       required="required">
                <small id="https_portHelp" class="form-text text-muted">
                    Le port HTTPS est affiché sur cette interface :
                    <a href="http://mafreebox.freebox.fr/#Fbx.os.app.settings.Accounts">
                        http://mafreebox.freebox.fr/#Fbx.os.app.settings.Accounts
                    </a>
                </small>
            </div>

        </fieldset>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" [disabled]="!assoc1From.form.valid">Mettre à jour</button>
    </div>

</form>
