<h3>Ajouter un téléchargement</h3>

<accordion [closeOthers]="true">

  <accordion-group heading="Lien HTTP">
    <h5>Lancer un téléchargement sur votre Freebox depuis une URL</h5>
    <p class="text-info">
      Cette interface vous permet de mettre en téléchargement des éléments sur votre freebox a partir d'une URL. L'URL
      donnée peut etre une ressource simple (image, texte, vidéo, audio), mais aussi un lien magnet.
    </p>
    <form class="form-horizontal">
      <fieldset>
        <div class="form-group">
          <label for="url" class="col-lg-2 control-label">Url</label>
          <div class="col-lg-10">
            <input [(ngModel)]="url" type="text" class="form-control" id="url" name="url" placeholder="https://" />
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-2">
            <button (click)="addDownloadFromUrl()" class="btn btn-primary">Lancer le téléchargement</button>
          </div>
        </div>
      </fieldset>
    </form>
  </accordion-group>

  <accordion-group heading="Liste de liens HTTP">
    <h5>Lancer un téléchargement sur votre Freebox depuis une liste d'URLs</h5>
    <p class="text-info">
      Cette interface vous permet de lancer plusieurs téléchargements depuis une liste. Merci de ne mettre qu'une seule
      URL par ligne.
    </p>
    <fieldset>
      <div class="form-group">
        <label for="url_list" class="col-lg-2 control-label">Urls</label>
        <div class="col-lg-10">
          <textarea [(ngModel)]="url_list" rows="10" class="form-control" id="url_list" name="url_list" placeholder="Liste de liens"></textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <button (click)="addDownloadFromUrls()" class="btn btn-primary">Lancer le téléchargement</button>
        </div>
      </div>
    </fieldset>

  </accordion-group>
  <accordion-group heading="Fichier (torrent, nzb)">

    <p class="text-warning">Pas implémenté.</p>

  </accordion-group>
</accordion>
