<br/>
<div class="container">
  <div class="row">
    <div class="col">

      <div class="card">
        <div class="card-header">Association</div>
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">Informations</h6>
          <table *ngIf="freeboxInfos" class="table table-striped table-hover">
            <tbody>
            <tr>
              <th>Nom de domaine</th>
              <td>{{freeboxInfos.api_domain}}</td>
            </tr>
            <tr>
              <th>Port HTTPS</th>
              <td>{{freeboxInfos.https_port}}</td>
            </tr>
            <tr>
              <th>Token</th>
              <td style="font-family: monospace">{{freeboxInfos.app_token}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer">
          <button (click)="showUpdateAssocModal()" class="btn btn-primary">Mettre à jour</button>
        </div>
      </div>
      <br/>

      <div class="card">
        <div class="card-header">Désassociation</div>
        <div class="card-body">
          <p class="card-text">
            Vous pouvez déconnecter votre freebox du Freehub si vous le souhaitez. Nous supprimerons toutes information de connexion vous concernant.
          </p>
          <p class="card-text text-warning">
            Si vous désirez à nouveau utiliser le système, il vous faudra re-associer votre freebox.
          </p>
        </div>
        <div class="card-footer">
          <button (click)="removeFreeboxFromHub()" class="btn btn-danger">
            <fa name="eject"></fa>&emsp;Supprimer l'association
          </button>
        </div>
      </div>

    </div>
    <div class="col">

      <div class="card">
        <div class="card-header">Débits</div>
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">Temps réel</h6>
          <freebox-status *ngIf="uid" [uid]="uid"></freebox-status>
        </div>
      </div>
      <br/>

      <div class="card">
        <div class="card-header">Connectivité</div>
        <div class="card-body">
          <p class="text-muted">Désactivé pour l'instant</p>
          <table *ngIf="freeboxStatus" class="table table-striped table-hover">
            <tbody>
            <tr>
              <th>Connexion</th>
              <td>{{freeboxStatus.media }}</td>
            </tr>
            <tr>
              <th>IPv4</th>
              <td>{{freeboxStatus.ipv4 }}</td>
            </tr>
            <tr>
              <th>IPv6</th>
              <td>{{freeboxStatus.ipv6 }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>



