<h3>Scan de flux RSS</h3>

<p class="text-info">
  Cette interface vous permet de spécifier une URL contentant un flux RSS afin de scanner les baslises
  <span style="font-family: monospace">title</span> avec une expression régulière. Si un ou plusieurs résultats sont
  trouvés lors de la
  verification, les éléments contenus dans la balise
  <span style="font-family: monospace">link</span> seront téléchargés directement sur la freebox.
</p>


<div class="bg-light" style="padding: 1em;">

  <button (click)="addNewRss()" class="btn btn-primary btn-sm">
    <fa name="plus"></fa>
    Ajouter un nouveau flux RSS à scanner...
  </button>

  <button (click)="checkAll()" class="btn btn-success btn-sm">
    <fa name="refresh"></fa>
    Verifier tous les flux RSS
  </button>

</div>
<hr/>

<loading-animation *ngIf=" ! rssSearches"></loading-animation>
<div class="container">
  <div class="row">

    <div *ngFor="let rssSearch of rssSearches" class="col-6">

      <div class="card">
        <div class="card-header">{{ rssSearch.title || rssSearch.pattern }}</div>
        <div class="card-body">
          <table class="table table-striped table-hover">
            <tbody>
            <tr>
              <th>Url</th>
              <td><a [href]="rssSearch.rss">{{ rssSearch.rss }}</a></td>
            </tr>
            <tr>
              <th>RegEx</th>
              <td style="font-family: monospace">{{ rssSearch.pattern }}</td>
            </tr>
            <tr>
              <th>Dernière publication</th>
              <td>{{ rssSearch.last_publication ? (rssSearch.last_publication * 1000 | date: 'EEEE, dd MMMM y(HH:mm:ss)') : '--' }}
              </td>
            </tr>
            <tr>
              <th>Dernière verification</th>
              <td>{{ rssSearch.last_date ? (rssSearch.last_date * 1000 | date: 'EEEE, dd MMMM y (HH:mm:ss)') : '--' }}
              </td>
            </tr>
            </tbody>
          </table>
          <h5>Derniers éléments récupérés</h5>

          <ul class="list-group list-group-flush">
            <li *ngFor="let last_item of rssSearch.last_items" class="list-group-item">{{ last_item }}</li>
            <li *ngIf="! rssSearch.last_items" class="list-group-item">
              <span class="text-muted"><em>Aucun</em></span>
            </li>
          </ul>

        </div>
        <div class="card-footer">
          <button (click)="checkRss(rssSearch)" class="btn btn-success">
            <fa name="refresh"></fa>
            Verifier
          </button>
          <button (click)="updateRss(rssSearch)" class="btn btn-primary">Modifier</button>
          <button (click)="removeFromId(rssSearch.id)" class="btn btn-danger">Supprimer</button>
        </div>
      </div>

    </div>

  </div>
</div>
