<div *ngIf="isLogged()">

  <h1>Tableau de bord</h1>
  <p class="lead">Bienvenue ! Vous trouverez ici les principales informations vous concernant</p>

  <div class="container">
    <div class="row">
      <div class="col">
        <freebox-card></freebox-card>
        <friends-card></friends-card>
      </div>
      <div class="col">
        <upload-card></upload-card>
        <download-card></download-card>
      </div>
    </div>
  </div>

</div>
