
<div  class="row">
    <div *ngFor="let fileInfo of files" class="pull-left">
        <file-info-icon-medium
            [fileInfo]="fileInfo"
            [freeboxId]="freeboxId"
            ></file-info-icon-medium>
    </div>
</div>
