<form (ngSubmit)="addFriend()" #addFriendForm="ngForm">

  <div class="modal-header">
    <h4 class="modal-title pull-left">Ajouter un ami</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <fieldset>
      <div class="form-group">
        <label for="friend_name" class="control-label">Nom de l'ami</label>
        <input
          [(ngModel)]="friend_name" id="friend_name" name="friend_name"
          type="text" class="form-control"
          placeholder="Bob" required="required"
        />
      </div>
    </fieldset>

  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" [disabled]="! addFriendForm.form.valid">Ajouter</button>
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Cancel</button>
  </div>
</form>
