<form class="form-horizontal" (ngSubmit)="updateRss()" #updateRssForm="ngForm">

  <div class="modal-header">
    <h4 class="modal-title">Ajouter un nouveau flux RSS à scanner</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <fieldset>
      <div class="form-group">
        <label for="rss_title">Titre</label>
          <input [(ngModel)]="rssSearch.title" id="rss_title" name="rss_title"
                 type="text" class="form-control"
                 placeholder="One Piece" required="required">
      </div>
      <div class="form-group">
        <label for="rss_url" class="col-lg-2 control-label">Url</label>
          <input [(ngModel)]="rssSearch.rss" id="rss_url" name="rss_url"
                 type="url" class="form-control"
                 placeholder="https://www.nyaa.se/?page=rss&user=175467" required="required">
      </div>
      <div class="form-group">
        <label for="rss_regex" class="col-lg-2 control-label">RegEx</label>
          <input [(ngModel)]="rssSearch.pattern" id="rss_regex" name="rss_regex"
                 type="text" class="form-control"
                 placeholder="/One_Piece.*HD.*mp4/" required="required">
      </div>
    </fieldset>
  </div>

  <div class="modal-footer">
    <button type="submit" class="btn btn-success" [disabled]="!updateRssForm.form.valid">Mettre à jour</button>
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Annuler</button>
  </div>

</form>
