<h1>Amis</h1>

<div class="bg-light" style="padding: 1em;">

  <button (click)="addFriend()" class="btn btn-primary btn-sm">
    <fa name="plus"></fa>
    Ajouter un nouvel ami
  </button>

</div>
<hr>

<div class="container">
  <div class="row">
    <div class="col">

      <div class="card">
        <div class="card-header">Mes amis</div>
        <div class="card-body">

          <em *ngIf="friends?.length == 0" class="text-muted">
            Pas d'amis pour l'instant
          </em>

          <ul *ngIf="friends?.length > 0" class="list-group list-group-flush">
            <li *ngFor="let friend of friends" class="list-group-item">
              <div class="btn-group">
                <button class="btn btn-sm btn-danger" (click)="removeFriend( friend.uid)">
                  <fa name="times"></fa>Exclure
                </button>
              </div>
              &emsp;{{friend.name}}
            </li>
          </ul>

        </div>
        <div class="card-footer">
          <button class="btn btn-primary btn-sm" (click)="getFriends()">
            <fa name="refresh"></fa>&emsp;Actualiser
          </button>
        </div>
      </div>

    </div>
    <div class="col">

      <div class="card">
        <div class="card-header">Demandes d'amitié</div>
        <div class="card-body">

          <em *ngIf="friendshipRequests?.length == 0" class="text-muted">
            Pas de demande d'amitié pour l'instant
          </em>

          <ul *ngIf="friendshipRequests?.length > 0" class="list-group list-group-flush">
            <li *ngFor="let request of friendshipRequests" class="list-group-item">
              <div class="btn-group">
                <button class="btn btn-sm btn-success" (click)="acceptRequest( request.uid)">
                  <fa name="check"></fa>Accepter
                </button>
                <button class="btn btn-sm btn-default" (click)="refuseRequest( request.uid)">
                  <fa name="times"></fa>Ignorer
                </button>
              </div>
              &emsp;{{request.name}}
            </li>
          </ul>

        </div>
        <div class="card-footer">
          <button class="btn btn-primary btn-sm" (click)="getFriendsRequests()">
            <fa name="refresh"></fa>&emsp;Actualiser
          </button>
        </div>
      </div>

    </div>
  </div>

</div>
