<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th></th>
        <th>Nom</th>
        <th>Episode</th>
        <th>Taille</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let fileInfo of files">
        <td>
            &nbsp;
            <span *ngIf="fileInfo.isDir()" class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
            <span *ngIf="fileInfo.isAudio()" class="glyphicon glyphicon-headphones" aria-hidden="true"></span>
            <span *ngIf="fileInfo.isVideo()" class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span>
            <span *ngIf="fileInfo.isBasicFile()" class="glyphicon glyphicon-file" aria-hidden="true"></span>
        </td>
        <td>{{ fileInfo.movieTitle ? fileInfo.movieTitle.cleanName  : fileInfo.fileInfo.name }}</td>
        <td>
            {{ fileInfo.movieTitle && fileInfo.movieTitle.season  ? 'S' + fileInfo.movieTitle.season  : '' }}
            {{ fileInfo.movieTitle && fileInfo.movieTitle.episode ? 'E' + fileInfo.movieTitle.episode : '' }}
        </td>
        <td>
            <span *ngIf=" ! fileInfo.isDir()">{{ fileInfo.fileInfo.size | o2hr }}</span>
        </td>
        <td>
            <div class="btn-group btn-group-xs">
                <a *ngIf="fileInfo.isDir()" (click)="navigate( fileInfo.path)" class="btn btn-default">
                    <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
                </a>
                <a *ngIf="fileInfo.canBePlay()" (click)="playOnFreebox( fileInfo.path)" class="btn btn-default">
                    <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                </a>
                <a *ngIf="fileInfo.canBeStreamed()" (click)="playInBrowser( fileInfo)" class="btn btn-default">
                    <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
                </a>
            </div>

        </td>
    </tr>
    </tbody>
</table>
