
<div class="card border-warning mb-3">
  <div class="card-body text-warning">
    <p class="card-text">Pour réaliser cette étape vous devez <strong>impérativement</strong> vous trouver connecté sur le même réseau de la freebox à associer.</p>
  </div>
</div>


<h3>Generation de la demande</h3>
<p>
    Dans un premier temps vous allez devoir envoyer une demande d'association à la freebox. La mauvaise nouvelle
  c'est que vous allez devoir le faire vous-meme. Je vous conseille donc de passer par un client HTTP de type
  <a href="https://www.getpostman.com/" target="_blank">Postman</a> pour réaliser cela.
</p>

<table class="table table-hover">
  <tbody>
  <tr class="table-active">
    <th scope="row">Method</th>
    <td><pre style="color: #AAAAAA">POST</pre></td>
  </tr>
  <tr class="table-active">
    <th scope="row">Url</th>
    <td><pre style="color: #AAAAAA">http://mafreebox.freebox.fr/api/v4/login/authorize/</pre></td>
  </tr>
  <tr class="table-active">
    <th scope="row">Header</th>
    <td><pre style="color: #AAAAAA">Content-Type: application/json</pre></td>
  </tr>
  <tr class="table-active">
    <th scope="row">Body</th>
    <td>
<pre style="color: #AAAAAA">{{ '{ '}}
  "app_id": "com.alphayax.freebox.os",
  "app_name": "AYX Freebox OS",
  "app_version": "1.0.0",
  "device_name": "ayx fbx os"
{{ '}' }}
</pre></td>
  </tr>
  </tbody>
</table>
<p>
  La réponse de cette requette HTTP vous fournira les precieux token et track_id. Toutefois, pour que ceux ci soient valides
  vous devez la valider en appuyant sur le cadrant de la freebox (là où l'heure s'affiche en temps normal).
  <span class="text-muted">
    Si vous n'avez pas réagit a temps, vous pouvez relancer une nouvelle requete HTTP pour redemander une association.
  </span>
</p>

<form class="form-horizontal">
    <fieldset>
        <legend>Parametres d'association de la freebox</legend>
        <div class="form-group">
            <label for="app_token" class="control-label">app_token</label>
            <input [(ngModel)]="freeboxAssociation.app_token" id="app_token"  name="app_token"
                   type="text" class="form-control"
                   placeholder="cMThEILtcHGCB5A/wxcvbwvxcb5151Ni+c6/wxvb455356Lv+4YuI40/X44256ES">
        </div>
        <div class="form-group">
            <label for="track_id" class="control-label">track_id</label>
            <input [(ngModel)]="freeboxAssociation.track_id" id="track_id" name="track_id"
                   type="number" class="form-control"
                   placeholder="7">
        </div>
        <div class="form-group">
            <button type="reset" class="btn btn-default">Annuler</button>
            <button (click)="saveToken()" class="btn btn-primary">Associer</button>
        </div>
    </fieldset>
</form>
