<form (ngSubmit)="processSignUp()" #signupForm="ngForm">
  <div class="modal-header">
    <h4 class="modal-title pull-left">Identification</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <fieldset>
      <div class="form-group">
        <label for="login">Login</label>
        <input [(ngModel)]="login" id="login" name="login"
               type="email" class="form-control" aria-describedby="emailHelp"
               placeholder="Enter login" required="required">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input [(ngModel)]="password" id="password" name="password"
               type="password" class="form-control"
               placeholder="Password" required="required">
        <small id="passwordHelp" class="form-text text-muted">
          Ne perdez jamais votre mot de passe : Nous ne l'enregistrons pas.<br/>
          Nous ne permettons aucune récupération de compte.
        </small>
      </div>
    </fieldset>


  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" [disabled]="!signupForm.form.valid">Submit</button>
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Cancel</button>
  </div>
</form>
