<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="?">Freehub</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation" style="">
    <span class="navbar-toggler-icon"></span>
  </button>

  <button *ngIf="! isLoggedIn()" type="button" class="btn btn-primary" (click)="openModalLogin()">Connexion...</button>&nbsp;
  <button *ngIf="! isLoggedIn()" type="button" class="btn btn-primary" (click)="openModalSignUp()">Inscription...</button>

  <div *ngIf="isLoggedIn()" class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav">
      <li class="nav-item"><a class="nav-link" routerLink="home">Accueil</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="friends">Amis</a></li>
      <li class="nav-item"><a *ngIf=" ! isBoxLinked()" class="nav-link" routerLink="association">Association</a></li>
      <li class="nav-item"><a *ngIf="isBoxLinked()" class="nav-link" routerLink="file-system">Fichiers</a></li>
      <li class="nav-item"><a *ngIf="isBoxLinked()" class="nav-link" routerLink="download">Téléchargements</a></li>
      <li class="nav-item"><a *ngIf="isBoxLinked()" class="nav-link" routerLink="upload">Partages</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="settings">Settings</a></li>
    </ul>
  </div>
  <button *ngIf="isLoggedIn()" type="button" class="btn btn-primary" (click)="logout()">Déconnexion...</button>
</nav>
