<div class="panel panel-default">
    <div class="panel-heading">
        {{fileInfo.name}}
    </div>
    <div class="panel-body" [background-movie]="fileInfo.movieTitle.rawTitle" [background-movie-type]="'banner'" >
        <div class="col-lg-4 col-md-4 col-sm-4">

            <div *ngIf="! fileInfo.isVideo()" class="file-info-icon-large-icon text-muted">
                <span *ngIf="fileInfo.isDir()"          class="glyphicon glyphicon-folder-open" ></span>
                <span *ngIf="fileInfo.isAudio()"        class="glyphicon glyphicon-music"       ></span>
                <span *ngIf="fileInfo.isPicture()"      class="glyphicon glyphicon-picture"     ></span>
                <span *ngIf="fileInfo.isBasicFile()"    class="glyphicon glyphicon-file"        ></span>
            </div>

            <div *ngIf="fileInfo.isVideo()" class="file-info-icon-large-poster"  [background-movie]="fileInfo.movieTitle.rawTitle" [background-movie-type]="'poster'">
                &nbsp;
            </div>

        </div>
        <div class="col-lg-8 col-md-8 col-sm-8" style="background-color: rgba(24, 24, 24, 0.43);">
            <p>
                <small>
                    <em style="word-wrap: break-word;">{{fileInfo.fileInfo.name}}</em>
                </small>
            </p>
            <p *ngIf="fileInfo.isDir()">
                <a (click)="navigate()" class="btn btn-default btn-xs">
                    <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>&emsp;Parcourir...
                </a>
            </p>
            <p *ngIf="!fileInfo.isDir()" class="">
                {{fileInfo.fileInfo.size | o2hr}}
            </p>
            <p *ngIf="!fileInfo.isDir()" class="btn-group">
                <a class="btn btn-default btn-xs" (click)="showInformationModal()">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                </a>
                <a *ngIf="fileInfo.canBeStreamed()" class="btn btn-default btn-xs" (click)="playInBrowser()">
                    <span class="glyphicon glyphicon-expand" aria-hidden="true"></span>
                </a>
                <a *ngIf="fileInfo.canBePlay()" class="btn btn-default btn-xs" (click)="play()">
                    <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                </a>
                <a class="btn btn-default btn-xs" (click)="directDownload()">
                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                </a>
                <a *ngIf="isExternalBox" class="btn btn-default btn-xs" (click)="boxDownload()">
                    <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                </a>
            </p>
        </div>
    </div>
</div>
