
div.panel {
    height: 250px;
}

div > div.panel-heading {
    height: 42px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

div > div.panel-body {
    height: 206px;
}


div.file-info-icon-large-icon > span {
    font-size: 5em;
    line-height: 140px;
}

div.file-info-icon-large-poster {
    height: 135px;
}
