<div>
  <alert *ngFor="let alert of alerts; let i = index"
    [type]="alert.type"
    [dismissOnTimeout]="alert.timeout"
    [dismissible]="true"
    (close)="closeAlert(i)"
  >
    {{ alert?.msg }}
  </alert>
</div>
