<br/>
<div class="container">
  <div class="row">
    <div class="col">


      <div class="card mb-3">
        <div class="card-header">Information de connexion</div>
        <div class="card-body">

          <form class="form-horizontal">

            <fieldset>
              <div class="form-group">
                <label for="user_name">Login</label>
                <input [(ngModel)]="user.login" id="user_name" name="user_name"
                       type="text" class="form-control"
                       placeholder="Yggdrasil">
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input [(ngModel)]="user.password" id="password" name="password"
                       type="password" class="form-control"
                       placeholder="*******">
              </div>
              <div class="form-group">
                <button (click)="saveProfile()" class="btn btn-primary">Mettre à jour</button>
              </div>
            </fieldset>

          </form>

        </div>
      </div>

    </div>
    <div class="col">

      <div class="card mb-3">
        <div class="card-header">Supprimer mon compte</div>
        <div class="card-body">
          <p class="card-text">
            Vous pouvez supprimer votre compte. Nous effacerons toute information vous concernant dans notre base de données.
          </p>
          <p class="card-text text-warning">
            Toute information vous concernant sera perdue. Si vous désirer réutiliser notre système, vous devrez ré-associer votre box.
          </p>
          <p class="card-text text-danger">
            Vous serez immédiatement déconnecté du systeme.
          </p>
        </div>
        <div class="card-footer">
          <button class="btn btn-danger disabled">Supprimer mon compte</button>
        </div>
      </div>

    </div>
  </div>

</div>





