<div class="card border-warning mb-3">
  <div class="card-body text-warning">

    <p class="card-text">
      Pour remplir cette étape, vous devez avoir activé le HTTPS sur votre freebox pour crypter le trafic qui
      transite entre votre box de notre système. Si vous n'etes pas familier avec ce procédé, je vous redirige
      vers les tutoriaux suivants :
    </p>
    <ul>
      <li><a target="_blank" href="https://www.freenews.fr/freenews-edition-nationale-299/freebox-9/lacces-distant-a-freebox-os-sameliore-https">https://www.freenews.fr/freenews-edition-nationale-299/freebox-9/lacces-distant-a-freebox-os-sameliore-https</a></li>
      <li><a target="_blank" href="http://www.universfreebox.com/article/33426/Tutoriel-Comment-acceder-a-Freebox-OS-depuis-n-importe-ou-de-maniere-securisee">http://www.universfreebox.com/article/33426/Tutoriel-Comment-acceder-a-Freebox-OS-depuis-n-importe-ou-de-maniere-securisee</a></li>
    </ul>
  </div>
</div>

<form (ngSubmit)="saveAssociation()" #assoc1From="ngForm">
    <fieldset>
        <legend>Parametres de connexion à la freebox</legend>

        <div class="form-group">
          <label for="api_domain">Nom de domaine</label>
          <input [(ngModel)]="freeboxAssociation.api_domain" id="api_domain" name="api_domain"
                 type="url" class="form-control" aria-describedby="api_domainHelp"
                 placeholder="example.freeboxos.fr" required="required" value="ayx.freeboxos.fr">
          <small id="api_domainHelp" class="form-text text-muted">
            Le nom de domaine est affiché sur cette interface :
            <a href="http://mafreebox.freebox.fr/#Fbx.os.app.settings.domains.Domains">
              http://mafreebox.freebox.fr/#Fbx.os.app.settings.domains.Domains
            </a>
          </small>
        </div>

        <div class="form-group">
          <label for="https_port">Port HTTPS</label>
          <input [(ngModel)]="freeboxAssociation.https_port" id="https_port" name="https_port"
                 type="number" class="form-control" aria-describedby="https_portHelp"
                 placeholder="17105" required="required" value="17015">
          <small id="https_portHelp" class="form-text text-muted">
            Le port HTTPS est affiché sur cette interface :
            <a href="http://mafreebox.freebox.fr/#Fbx.os.app.settings.Accounts">
              http://mafreebox.freebox.fr/#Fbx.os.app.settings.Accounts
            </a>
          </small>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary" [disabled]="!assoc1From.form.valid">Enregistrer et continuer</button>
        </div>

    </fieldset>
</form>
