<div *ngIf="downloadItem" class="card bg-light mb-3">

  <div class="card-header">
    <h5>
      {{downloadItem.movieTitle.cleanName}}
    &nbsp;<span *ngIf="downloadItem.movieTitle.hasSeason()" class="text-muted">S{{downloadItem.movieTitle.getSeason()}}</span>
    &nbsp;<span *ngIf="downloadItem.movieTitle.hasEpisode()" class="text-muted">E{{downloadItem.movieTitle.getEpisode()}}</span>
    <small class="text-info">
      <strong>
        &emsp;{{downloadItem.getStatus()}}
        &emsp;<span *ngIf="downloadItem.isDownloading()">({{downloadItem.getEta()}})</span>
      </strong>
    </small>
    </h5>
    <small class="text-muted"><em>{{downloadItem.movieTitle.rawTitle}}</em></small>
  </div>

  <div class="card-body">

    <div class="container">
        <div class="row">
          <div class="col">
            <span class="label label-success">{{downloadItem.getType()}}</span>
          </div>
          <div class="col">
            <div class="btn-group">
              <button *ngIf="downloadItem.isSeeding() || downloadItem.isInError()" class="btn btn-default btn-sm" (click)="clearDownload();">
                Clear
              </button>
              <button *ngIf="downloadItem.isDownloaded()" class="btn btn-success btn-sm" (click)="clearDownload();">
                Clear
              </button>
              <button *ngIf="downloadItem.isStoppable()" class="btn btn-default btn-sm" (click)="pauseDownload();">
                Pause
              </button>
              <button *ngIf="downloadItem.isStopped()" class="btn btn-success btn-sm" (click)="resumeDownload();">
                Resume
              </button>
              <button *ngIf="downloadItem.isInError()" class="btn btn-success btn-sm" (click)="retryDownload();">
                Retry
              </button>
              <button *ngIf="downloadItem.isInError()" class="btn btn-danger btn-sm" (click)="removeDownload();">
                Remove
              </button>
              <button class="btn btn-default btn-sm" (click)="navigate();">
                Nav
              </button>
              <button class="btn btn-default btn-sm" (click)="showSettings();">
                Show
              </button>
              <button class="btn btn-default btn-sm" (click)="searchNext();">
                Next
              </button>
            </div>
          </div>
        </div>

        <div class="row">
            <div class="col">
              <div class="bs-component" style="margin-top: 10px; margin-bottom: 10px;">
                <div class="progress">
                  <div class="progress-bar progress-bar-info" [style.width]="downloadItem.downloadTask.rx_pct / 100 + '%'">{{downloadItem.downloadTask.rx_pct / 100}} %</div>
                </div>
                <div class="progress" *ngIf="downloadItem.downloadTask.type === 'bt'">
                  <div class="progress-bar progress-bar-success" [style.width]="downloadItem.downloadTask.tx_pct / 100 + '%'">{{downloadItem.downloadTask.tx_pct / 100}} %</div>
                </div>
              </div>
            </div>

            <div class="col">
              <span class="btn-xs">
                  <span class="glyphicon glyphicon-check" aria-hidden="true"></span>&nbsp;{{downloadItem.downloadTask.size | o2hr}}
              </span>
              <br />
              <span class="btn-xs">
                  <span class="glyphicon glyphicon-download" aria-hidden="true"></span>&nbsp;{{downloadItem.downloadTask.rx_bytes | o2hr }}
                  <span *ngIf="downloadItem.downloadTask.rx_rate">
                      ({{downloadItem.downloadTask.rx_rate | o2hr }}/s)
                  </span>
              </span>
              <br />
              <span class="btn-xs" *ngIf="downloadItem.downloadTask.type === 'bt'">
                  <span class="glyphicon glyphicon-upload"   aria-hidden="true"></span>&nbsp;{{downloadItem.downloadTask.tx_bytes | o2hr }}
                  <span *ngIf="downloadItem.downloadTask.tx_rate">
                      ({{downloadItem.downloadTask.tx_rate | o2hr }}/s)
                  </span>
              </span>
            </div>
        </div>

      </div>
  </div>

</div>
