
<div  class="row">
    <div *ngFor="let fileInfo of files" class="col-lg-4 col-md-6 col-sm-12">
        <file-info-icon-large [freeboxId]="freeboxId" [fileInfo]="fileInfo"></file-info-icon-large>
    </div>
</div>
