<form class="form-horizontal" (ngSubmit)="addRss()" #addRssForm="ngForm">

  <div class="modal-header">
    <h4 class="modal-title pull-left">Ajouter un nouveau flux RSS à scanner</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <fieldset>
      <div class="form-group">
        <label for="rss_title">Titre</label>
        <input [(ngModel)]="rss_title" id="rss_title" name="rss_title"
               type="text" class="form-control"
               placeholder="One Piece" required="required">
      </div>
      <div class="form-group">
        <label for="rss_url">Url</label>
        <input [(ngModel)]="rss_url" id="rss_url" name="rss_url"
               type="url" class="form-control"
               placeholder="https://www.nyaa.se/?page=rss&user=175467" required="required">
      </div>
      <div class="form-group">
        <label for="rss_regex">RegEx</label>
        <input [(ngModel)]="rss_regex" id="rss_regex" name="rss_regex"
               type="text" class="form-control"
               placeholder="/One_Piece.*HD.*mp4/" required="required">
      </div>
    </fieldset>
  </div>

  <div class="modal-footer">
    <button type="submit" class="btn btn-success" [disabled]="!addRssForm.form.valid">Ajouter</button>
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Annuler</button>
  </div>

</form>
