<div class="card bg-light mb-3">
  <div class="card-header">Ma Freebox</div>
  <div class="card-body">

    <freebox-status *ngIf="isBoxLinked()" [uid]="getUid()"></freebox-status>

    <p class="card-text text-warning" *ngIf="! isBoxLinked()">
      Vous devez associer votre freebox pour pouvoir interagir avec elle.
    </p>

    <a *ngIf=" ! isBoxLinked()" [routerLink]="['/association']" class="btn btn-success btn-sm">
      <span class="glyphicon glyphicon-link" aria-hidden="true"></span>&emsp;Associer ma Freebox
    </a>
    <a *ngIf="isBoxLinked()" [routerLink]="['/settings']" class="btn btn-primary btn-sm">
      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>&emsp;Mes préférences
    </a>

  </div>
</div>
