<div *ngIf="downloadItem">

    <div class="modal-header">
        <h4 class="modal-title">Parametres du téléchargement</h4>
    </div>
    <div class="modal-body">

        <tabset>
            <tab heading='Informations'>
                <table class="table table-striped table-hover">
                    <tbody>
                    <tr>
                        <th>Nom</th>
                        <td>
                            {{downloadItem.movieTitle.cleanName}}&emsp;
                            <span *ngIf="downloadItem.movieTitle.hasSeason()" class="label label-primary">Saison {{downloadItem.movieTitle.getSeason()}}</span>
                            <span *ngIf="downloadItem.movieTitle.hasEpisode()" class="label label-primary">Episode {{downloadItem.movieTitle.getEpisode()}}</span>
                        </td>
                    </tr>
                    <tr>
                        <th>Nom Original</th>
                        <td>
                            <em class="text-muted">{{downloadItem.movieTitle.rawTitle}}</em>
                        </td>
                    </tr>
                    <tr>
                        <th>Emplacement</th>
                        <td>
                            <em>{{downloadItem.path}}</em>
                        </td>
                    </tr>
                    <tr>
                        <th>Synopsis</th>
                        <td>
                            <em class="text-muted">Pas encore implémenté...</em>
                        </td>
                    </tr>
                    <tr *ngIf="downloadItem.image">
                        <th>Couverture</th>
                        <td>
                            <img [src]="downloadItem.image"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </tab>
            <tab heading='Téléchargement'>
                <table class="table table-striped table-hover">
                    <tbody>
                    <tr>
                        <th>Statut</th>
                        <td>
                            {{downloadItem.getStatus()}}
                        </td>
                    </tr>
                    <tr *ngIf="downloadItem.downloadTask.error !== 'none'" class="danger">
                        <th>Erreur</th>
                        <td>
                            {{downloadItem.downloadTask.error}}
                        </td>
                    </tr>
                    <tr>
                        <th>Type</th>
                        <td>
                            {{downloadItem.getType()}}
                        </td>
                    </tr>
                    <tr>
                        <th>Date d'ajout</th>
                        <td>{{downloadItem.downloadTask.created_ts * 1000 | date }}</td>
                    </tr>
                    <tr>
                        <th>Taille totale</th>
                        <td>{{downloadItem.downloadTask.size | o2hr }}</td>
                    </tr>
                    <tr>
                        <th>Téléchargé</th>
                        <td>{{downloadItem.downloadTask.rx_bytes | o2hr }}</td>
                    </tr>
                    <tr *ngIf="downloadItem.downloadTask.type == 'bt'">
                        <th>Partagé</th>
                        <td>{{downloadItem.downloadTask.tx_bytes | o2hr }}</td>
                    </tr>
                    <tr *ngIf="downloadItem.downloadTask.type == 'bt'">
                        <th>Ratio</th>
                        <td>
                            {{downloadItem.getCurrentRatio() | number }} / {{downloadItem.getStopRatio() | number }}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </tab>
            <tab heading='Fichiers'>
                <download-settings-modal-files-tab
                        [downloadId]="downloadItem.downloadTask.id"></download-settings-modal-files-tab>
            </tab>
        </tabset>


    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="bsModalRef.hide()">Fermer
        </button>
    </div>

</div>
