
<h1>Système de fichiers</h1>
<p class="lead">
    Liste des fichiers sur les disques connectés aux freebox du réseau
</p>


<div>
    <div *ngFor="let freeboxInfo of freeboxInfos" class="pull-left col-md-1 col-lg-1 col-sm-1 col-xs-1 text-center" style="margin-bottom: 1em; cursor: pointer;"
    (click)="navigateTo( freeboxInfo.uid, '/');">
      <fa name="hdd-o" size="3x" [class]="freeboxInfo.uid === uid_target ? 'text-primary' : 'text-muted'"></fa>
        <br />
        <small>{{freeboxInfo.name}}</small>
    </div>
</div>
<br style="clear: both;"/>

<div *ngIf="directoryInfo">

    <ul class="breadcrumb">
        <li *ngFor="let part of directoryInfo.path_part">
            <a style="cursor: pointer" (click)="navigateToPath( part.path)">{{part.name}}</a>
        </li>
    </ul>
    <div class="btn-group btn-group-sm pull-right">
        <a (click)="setViewMode( 1)" class="btn btn-default {{ view_mode === 1 ? 'active' : '' }}">
            <fa name="th-large"></fa>
        </a>
        <a (click)="setViewMode( 2)" class="btn btn-default {{ view_mode === 2 ? 'active' : '' }}">
          <fa name="th"></fa>
        </a>
        <a (click)="setViewMode( 3)" class="btn btn-default {{ view_mode === 3 ? 'active' : '' }}">
          <fa name="th-list"></fa>
        </a>
        <a (click)="setViewMode( 4)" class="btn btn-default {{ view_mode === 4 ? 'active' : '' }}">
            <span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span>
        </a>
    </div>
    <br style="clear: both;"/>

    <div [ngSwitch]="view_mode" style="margin-top: 1em;">
        <file-listing-icons-large   *ngSwitchCase="1" [freeboxId]="uid_target" [files]="directoryInfo.files"></file-listing-icons-large>
        <file-listing-icons-medium  *ngSwitchCase="2" [freeboxId]="uid_target" [files]="directoryInfo.files"></file-listing-icons-medium>
        <file-listing-details       *ngSwitchCase="3" [freeboxId]="uid_target" [files]="directoryInfo.files"></file-listing-details>
        <file-listing-details-movie *ngSwitchCase="4" [freeboxId]="uid_target" [files]="directoryInfo.files"></file-listing-details-movie>
    </div>

    <div *ngIf="directoryInfo.files.length == 0" class="col-lg-12 col-md-12 col-sm-12">
        <div class="well well-lg">
            Pas grand chose ici...
        </div>
    </div>

</div>

<!--
<file-info-details-modal #detailsModal></file-info-details-modal>
-->
