
<table class="table table-striped table-hover">
    <tbody>
    <tr>
        <th>Nom</th>
        <td>
            {{fileInfo.fileInfo.name}}
        </td>
    </tr>
    <tr>
        <th>Emplacement</th>
        <td>
            <em>{{fileInfo.path}}</em>
        </td>
    </tr>
    <tr>
        <th>Taille</th>
        <td>
            {{fileInfo.fileInfo.size | o2hr}}
        </td>
    </tr>
    <tr>
        <th>Type</th>
        <td style="font-family: monospace">
            {{fileInfo.fileInfo.mimetype}}
        </td>
    </tr>
    </tbody>
</table>

