
<table class="table table-striped table-hover">
    <tbody>
    <tr>
        <th>Nom</th>
        <th>Statut</th>
        <th>Taille</th>
        <th>Priorité</th>
    </tr>
    <tr *ngFor="let file of downloadFiles" [class]="file.status === 'error' ? 'danger' : ''">
        <td>{{file.name}}</td>
        <td>{{file.status}}</td>
        <td>{{file.rx | o2hr }} / {{file.size | o2hr }}</td>
        <td>{{file.priority}}</td>
    </tr>
    </tbody>
</table>
