
<h1>Mes partages</h1>
<p class="lead">
    <a (click)="refresh()" class="btn btn-primary btn-sm">
        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>&emsp;Actualiser
    </a>
    <a (click)="revokeAllShareLinks()" class="btn btn-danger btn-sm">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>&emsp;Révoquer tous les partages
    </a>
</p>

<loading-animation *ngIf="! shareLinks"></loading-animation>
<table *ngIf="shareLinks" class="table table-striped table-hover">
    <thead>
    <tr>
        <th>Nom</th>
        <th>Expiration</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let shareLink of shareLinks">
        <td>{{ shareLink.name }}</td>
        <td>{{ shareLink.expire * 1000 | date: 'EEEE, dd MMMM y (H:m:s)' }}</td>
        <td>
            <a class="btn btn-danger btn-xs" (click)="revokeShareLinksFromToken( shareLink.token)">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </a>
        </td>
    </tr>
    </tbody>
    <tfoot>
    <tr *ngIf="shareLinks && shareLinks.length === 0">
        <td colspan="2" class="text-muted"><em>Aucun lien partagé</em></td>
    </tr>
    </tfoot>
</table>
