
<div *ngIf="downloadItems" class="panel panel-default" [background-movie]="downloadItems[0].movieTitle.rawTitle" [background-movie-type]="'banner'">
    <div class="panel-heading">
        <div class="pull-left">
            <div style="margin-left: auto; margin-right: auto; height: 135px; width: 90px; position: absolute" [background-movie]="downloadItems[0].movieTitle.rawTitle" [background-movie-type]="'poster'">
                &nbsp;
            </div>
        </div>
        <div class="bs-component" style="margin-left: 110px;">
            {{downloadItem[0].movieTitle.cleanName}}
        </div>
    </div>
    <div class="panel-body">

        <download-item *ngFor="let downloadItem of downloadItems" [downloadItem]="downloadItem"></download-item>

    </div>
</div>
