<h3>Liste des téléchargements</h3>

<div class="bg-light" style="padding: 1em;">

  <button (click)="getDownloads()" class="btn btn-primary btn-sm">
    <fa name="refresh"></fa> Actualiser
  </button>
  <button (click)="cleanDone()" class="btn btn-primary btn-sm">
    <fa name="check"></fa> Retirer les téléchargements terminées
  </button>

</div>

<hr/>

<div class="btn-group" dropdown>
  <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
    Filtrer les téléchargements <span class="caret"></span>
  </button>
  <ul *dropdownMenu class="dropdown-menu" role="menu">
    <li role="menuitem">
      <a class="dropdown-item" (click)="filterDownloads(0)">
        Tous&nbsp;<span class="badge badge-info">{{downloadItemList.getAllCount()}}</span>
      </a>
    </li>
    <li class="divider dropdown-divider"></li>
    <li role="menuitem">
      <a class="dropdown-item" (click)="filterDownloads(1)">
        En cours&nbsp;<span class="badge badge-info">{{downloadItemList.getActiveCount()}}</span>
      </a>
    </li>
    <li role="menuitem">
      <a class="dropdown-item" (click)="filterDownloads(2)">
      En partage&nbsp;<span class="badge badge-info">{{downloadItemList.getSeedingCount()}}</span>
      </a>
    </li>
    <li role="menuitem">
      <a class="dropdown-item" (click)="filterDownloads(3)">
        Terminés&nbsp;<span class="badge badge-info">{{downloadItemList.getDownloadedCount()}}</span>
      </a>
    </li>
    <li role="menuitem">
      <a class="dropdown-item" (click)="filterDownloads(4)">
        En erreur&nbsp;<span class="badge badge-info">{{downloadItemList.getInErrorCount()}}</span>
      </a>
    </li>
  </ul>
</div>

<br/>
<br/>

<div *ngFor="let download of downloadItemsFiltered">
  <download-item
    [downloadItem]="download"
    (onResume)="updateStatus( download.downloadTask.id, 'download')"
    (onPause)=" updateStatus( download.downloadTask.id, 'pause')"
    (onRetry)=" updateStatus( download.downloadTask.id, 'retry')"
    (onClear)=" cleanFromId( download.downloadTask.id)"
    (onNavigate)="navigate( download.path)"
    (onSettings)="showSettings( download)"
  ></download-item>
</div>
<div *ngIf="downloadItemsFiltered.length == 0">
  <p class="text-muted">Aucun téléchargement ne correspond a ce filtre</p>
</div>
