
<loading-animation *ngIf="! freeboxStatus"></loading-animation>
<div *ngIf="freeboxStatus">
    <table class="table table-striped table-hover ">
        <thead>
        <tr>
            <th></th>
            <th>Current</th>
            <th>Max</th>
            <th>Dispo</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Download</td>
            <td>{{freeboxStatus.rate_down | o2hr }}/s</td>
            <td>{{freeboxStatus.bandwidth_down / 8 | o2hr}}/s</td>
            <td>{{100 - (freeboxStatus.rate_down * 8 / freeboxStatus.bandwidth_down) * 100 | number }}%</td>
        </tr>
        <tr>
            <td>Upload</td>
            <td>{{freeboxStatus.rate_up | o2hr }}/s</td>
            <td>{{freeboxStatus.bandwidth_up / 8 | o2hr }}/s</td>
            <td>{{100 - (freeboxStatus.rate_up * 8 / freeboxStatus.bandwidth_up) * 100 | number }}%</td>
        </tr>
        </tbody>
    </table>
</div>
