<div class="file-info-icon-medium-container" (click)="onClick()">

  &nbsp;
  <fa *ngIf="fileInfo.isDir()" size="4x" name="folder-open-o"></fa>
  <fa *ngIf="fileInfo.isAudio()" size="4x" name="file-audio-o"></fa>
  <fa *ngIf="fileInfo.isVideo()" size="4x" name="file-video-o"></fa>
  <fa *ngIf="fileInfo.isPicture()" size="4x" name="file-picture-o"></fa>
  <fa *ngIf="fileInfo.isBasicFile()" size="4x" name="file-o"></fa>

  <br/>
  <small>
      {{fileInfo.movieTitle?.cleanName || fileInfo.name}}
  </small>

</div>
