<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th></th>
    <th>Nom</th>
    <th>Taille</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let fileInfo of files">
    <td>
      &nbsp;
      <fa *ngIf="fileInfo.isDir()" name="folder-open"></fa>
      <fa *ngIf="fileInfo.isAudio()" name="file-audio-o"></fa>
      <fa *ngIf="fileInfo.isVideo()" name="file-video-o"></fa>
      <fa *ngIf="fileInfo.isBasicFile()" name="file-o"></fa>
    </td>
    <td>{{ fileInfo.fileInfo.name }}</td>
    <td>
      <span *ngIf=" ! fileInfo.isDir()">{{ fileInfo.fileInfo.size | o2hr }}</span>
    </td>
    <td>
      <div class="btn-group btn-group-xs">
        <a *ngIf="fileInfo.isDir()" (click)="navigate( fileInfo.path)">
          <fa name="folder-open-o"></fa>
        </a>
      </div>

    </td>
  </tr>
  </tbody>
</table>
