<div class="card bg-light mb-3">
  <div class="card-header">Téléchargements</div>
  <div class="card-body">

    <p *ngIf="isBoxLinked()" class="card-text">
      <strong>{{shareLinks.length}}</strong> partages actifs
    </p>

    <p *ngIf=" ! isBoxLinked()" class="card-text text-warning">
      Vous devez lier votre Freebox pour gerer vos partages
    </p>

    <a [routerLink]="['/upload']" class="btn btn-primary btn-sm {{ isBoxLinked() ? '' : 'disabled' }}">
      <span class="glyphicon glyphicon-open" aria-hidden="true"></span>&emsp;Mes partages
    </a>
  </div>
</div>
