<h1>Paramètres</h1>
<p class="lead">Gestion des parametres</p>

<tabset>
  <tab heading='Mon profil'>
    <settings-profile-tab></settings-profile-tab>
  </tab>
  <tab heading='Ma freebox'>
    <settings-freebox-tab></settings-freebox-tab>
  </tab>
</tabset>
