<div class="card bg-light mb-3">
  <div class="card-header">Freebox amies</div>
  <div class="card-body">

    <p class="card-text">
      <strong>{{friends.length}}</strong> amis<br/>
      <strong>{{friendshipRequests.length}}</strong> demandes d'amitié<br/>
    </p>

    <a [routerLink]="['/friends']" class="btn btn-primary btn-sm">
      <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&emsp;Mes amis
    </a>

  </div>
</div>
